.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 40px; */
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headButImg{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.headBut {
    background-color: transparent;
    border: none;
}

.headButImg:hover {
    transform: scale(1.1);
}