.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    font-size: 100%;
    width: 10%;
    height: 7%;
}

.addBtn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    scale: 1.1;
}